<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>今日热榜</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <style>
      body {
          background-color: #f2f2f2;
      }

      .my-header {
          background-color: white;
      }

      .my-header .title {
          height: 60px;
          line-height: 60px;
      }
  </style>
</head>
<body>

<div class="layui-header my-header">
  <div class="layui-container">
    <div class="title">
      <i class="layui-icon layui-icon-fire" style="font-size: 40px; color: red;"></i>
      <strong style="font-size: 36px; color: #0C0C0C">今日热榜</strong>
    </div>
  </div>

</div>

<div class="layui-container" style="background-color: white; min-height: 80vh; margin-top: 20px">
  <div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
      {{ range $index, $hot := .}}
      {{if eq $index 0}}
      <li class="layui-this" title="{{$hot.CrawlerTime}}">{{ $hot.HotName }}</li>
      {{ else }}
      <li title="{{$hot.CrawlerTime}}">{{ $hot.HotName }}</li>
      {{end}}
      {{else}}
      <li>no data</li>
      {{end}}
    </ul>
    <div class="layui-tab-content">
      {{ range $index, $hot := .}}
      {{if eq $index 0}}
      <div class="layui-tab-item layui-show">
        <table class="layui-table">
          <tbody>
          {{range $index, $hot_content := $hot.Content}}
          <tr>
            <td><a href="{{$hot_content.href}}" target="_blank">
              {{addNum $index}}.{{$hot_content.title}}
            </a></td>
          </tr>
          {{else}}
          <tr>
            <td>no data</td>
          </tr>
          {{end}}
          </tbody>
        </table>
      </div>
      {{ else }}
      <div class="layui-tab-item">
        <table class="layui-table">
          <tbody>
          {{range $index,$hot_content := $hot.Content}}
          <tr>
            <td><a href="{{$hot_content.href}}" target="_blank">
              {{addNum $index}}.{{$hot_content.title}}
            </a></td>
          </tr>
          {{else}}
          <tr>
            <td>no data</td>
          </tr>
          {{end}}
          </tbody>
        </table>
      </div>
      {{end}}
      {{else}}
      <div class="layui-tab-item">
        no data
      </div>
      {{end}}
    </div>
  </div>
</div>

<script src="layui/layui.js"></script>
<script>

    layui.use(['jquery', 'element'], function () {
        var element = layui.element;
    });
</script>
</body>
</html>